<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="assets/js/vue.js"></script>
    <title>form</title>
</head>
<body>


<div id="event">
    <div v-on:click="add">{{pn}}</div>
    <todo v-on:myevent="add(111)"></todo>
    <todo></todo>
</div>

<script>
    Vue.component('todo', {
        template: `
        <div v-on:click="myevent">{{message}}</div>
        `,
        data: {
            count: 0,
            message: "Hello World"
        },
        methods: {
            myevent: function () {
                count += 1;
                if (count > this.message.lenght) {
                    count = 0;
                }
                this.message.split("", count);
            }
        }
    });
    var event = new Vue({
        el: '#event',
        data: {
            pn: "10"
        },
        methods: {
            add:function (value) {
                this.pn += 1;
                console.log(value);
                this.$emit('example',value)
            }
        }
    });
    event.$on('example',function (value) {
        console.log(value);
    })
</script>

///////////////////////////////////////////////////////////////////

<div id="emit-is">
    <emit-is></emit-is>
    <div v-on:click="addn">{{pn}}</div>
</div>
<script>
    Vue.component('emit-is', {
        template: `
        <div v-on:click="event_">{{message}}</div>
        `,
        data: function () {
            return {message: 1}
        },
        methods: {
            event_: function () {
                this.message += 1;
                emitis.$emit("example", "world");
            }
        }
    });
    var emitis = new Vue({
        el: "#emit-is",
        data: {
            pn: 10
        },
        methods: {
            addn: function () {
                this.pn += 1;
                this.$emit('example', 'hello' + this.pn);
            }
        }
    });
    emitis.$on('example', function (value) {
        alert(value);
    });
</script>

//////////////////////////////////////////////////////////////////////

<div id="emit">
    <button @click="count">{{pn}}</button>
</div>

<script>
    var emit = new Vue({
        el: "#emit",
        data: {
            pn: 10
        },
        methods: {
            count: function () {
                this.pn += 1;
                this.$emit('text', this.pn);
            }
        }

    });

    emit.$on('text', function (vule) {
        console.log(vule)
    })

</script>

<fieleset id="app">
    <legend>name:</legend>
    <input type="text" v-model="person.name">
    <legend>age:</legend>
    <input type="text" v-model="person.age">
    <select name="sex" v-model="person.sex">
        <option value="famela"></option>
        <option value="male"></option>
    </select>
    <input type="submit" value="submit" @click="create">
</fieleset>

<script>
    //    var app = new Vue({
    //        el: '#app',
    //        data: {
    //            person: {
    //                name: '',
    //                age: '',
    //                sex: ''
    //            },
    //        }
    //    });


</script>

////////////////////////////////////////////////////////////////////////////////////////

<div id="list-todo">
    <input v-model="addNewText" v-on:keyup.enter="addNewTodo()" placeholder="please new word"/>
    <ul>
        <li v-for="(list , index) in lists" v-bind:title="list.n" v-bind:key="list" is="todo"
            v-on:remove="lists.splice(index,1)"></li>

    </ul>
    <ul>
        <li v-for="(obj,key,index) of list_obj" v-bind:title="obj" v-bind:key="obj" is="todo">
            dsf
        </li>
    </ul>
</div>

<script>

    Vue.component("todo", {
        props: ['title'],
        template: `<li>{{title}}
<button v-on:click="$emit('remove')">x</button>
</li>`,
    });
    new Vue({
        el: '#list-todo',
        data: {
            addNewText: '',
            lists: [
                {n: "USA"},
                {n: "China"}
            ],
            list_obj: {
                color: "red",
                background: "now"
            }
        },
        methods: {
            addNewTodo: function () {
                this.lists.push(this.addNewText);
                this.addNewText = ''
            }
        }
    });
</script>


//////////////////////////////////////////////////////////////////////////////////


<div id="ap">
    <ul>
        <li v-for="(item,index,key) of list">{{item.n}}
            <div>index={{ index }}</div>
            <div>key={{key}}</div>
        </li>
    </ul>
    <div>
        <div v-for="(item,key,index) of obj">
            {{item}}：{{key}}：{{index}}
        </div>
    </div>
</div>
</body>
<script>
    var app = new Vue({
        el: '#ap',
        data: {
            list: [{n: 11}, {n: 22}, {n: 33}, {n: 44}, {n: 55}, {n: 66}],
            obj: {color: 'red', age: 18, sex: 'girl'}
        }
    })
</script>

</body>
</html>