/*body size*/
$header-height: 50px;
$footer-height: 60px;

/* post style*/
$post-item-height: 30px;
$post-item-padding: 3px;
$post-item-border-color: #EDF2FC;

$post-tab-default-color: #878D99;
$post-tab-highlight-color: #fff;

$post-tab-default-background: #e5e5e5;
$post-tab-highlight-background: #67C23A;

