/*  website body color */
$website-background-color: #2D2F33;
$default-font-color: #fff;
$default-font-size: 14px;

/* primary text color */

$text-color: #5A5E66;

/* post color*/
$post-count-color: #878D99;
$post-count-font-size: 10px;
$post-count-width: 120px;
$post-public-width: 150px;

/* link color */
$meue-link-color:#fff;
