/*
 *cart control style
 *path:common/stylus/color.styl
 */
cart-control-add-bg = rgb(0,160,220)
cart-control-add-color = #fff
cart-control-decrease-bg = #fff
cart-control-decrease-color = rgb(0,160,220)
cart-control-count-text-color = rgb(147,153,159)
